# Copy this file as config.mk and populate the settings to be able to run
# the tests that are ignored by default (cargo test -- --include-ignored).

TEST_ACCOUNT_1_USERNAME=
TEST_ACCOUNT_1_PASSWORD=
TEST_ACCOUNT_2_USERNAME=
TEST_ACCOUNT_2_PASSWORD=
