# EndBASIC
# Copyright 2020 Julio Merino
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may not
# use this file except in compliance with the License.  You may obtain a copy
# of the License at:
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
# License for the specific language governing permissions and limitations
# under the License.

name: Build release

on: push

jobs:
    linux-armv6-rpi:
        runs-on: ubuntu-latest
        steps:
            - uses: actions-rust-lang/setup-rust-toolchain@v1
              with:
                  toolchain: stable
                  target: arm-unknown-linux-gnueabihf
            - uses: actions/checkout@v4
            - run: sudo apt update
            - run: sudo apt install gcc-arm-linux-gnueabihf
            - run: ./.github/workflows/release.sh linux-armv6-rpi
            - uses: actions/upload-artifact@v4
              with:
                name: endbasic-linux-armv6-rpi
                path: endbasic-linux-armv6-rpi/*
                retention-days: 1
    linux-armv7-rpi:
        runs-on: ubuntu-latest
        steps:
            - uses: actions-rust-lang/setup-rust-toolchain@v1
              with:
                  toolchain: stable
                  target: armv7-unknown-linux-gnueabihf
            - uses: actions/checkout@v4
            - run: sudo apt update
            - run: sudo apt install gcc-arm-linux-gnueabihf
            - run: ./.github/workflows/release.sh linux-armv7-rpi
            - uses: actions/upload-artifact@v4
              with:
                name: endbasic-linux-armv7-rpi
                path: endbasic-linux-armv7-rpi/*
                retention-days: 1

    linux-x86_64-sdl:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - run: sudo apt update
            - run: sudo apt install libsdl2-dev libsdl2-ttf-dev
            - run: ./.github/workflows/release.sh linux-x86_64-sdl
            - uses: actions/upload-artifact@v4
              with:
                name: endbasic-linux-x86_64-sdl
                path: endbasic-linux-x86_64-sdl/*
                retention-days: 1

    macos-arm64-sdl:
        runs-on: macos-latest
        steps:
            - uses: actions/checkout@v4
            - run: ./.github/workflows/release.sh macos-arm64-sdl
            - uses: actions/upload-artifact@v4
              with:
                name: endbasic-macos-arm64-sdl
                path: endbasic-macos-arm64-sdl/*
                retention-days: 1

    windows-x86_64-sdl:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v4
            - run: choco install --allow-empty-checksums unzip zip
            - run: ./.github/workflows/setup-sdl.ps1
            - run: ./.github/workflows/release.sh windows-x86_64-sdl
              shell: bash
            - uses: actions/upload-artifact@v4
              with:
                name: endbasic-windows-x86_64-sdl
                path: endbasic-windows-x86_64-sdl/*
                retention-days: 1

    create-release:
        if: startsWith(github.ref, 'refs/tags/')
        needs: [linux-armv7-rpi, linux-x86_64-sdl, macos-arm64-sdl, windows-x86_64-sdl]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - run: ./.github/workflows/notes.sh >notes.md || touch notes.md
            - name: Fetch binary artifacts
              uses: actions/download-artifact@v4
              with:
                path: artifacts
            - name: Create release draft
              id: create_release
              uses: ncipollo/release-action@v1
              with:
                  name: Release ${{ github.ref }}
                  bodyFile: ./notes.md
                  draft: true
                  prerelease: false
                  token: ${{ secrets.GITHUB_TOKEN }}
            - name: Upload zip artifacts
              id: upload_zips
              uses: ncipollo/release-action@v1
              with:
                  allowUpdates: true
                  omitBody: true
                  omitName: true
                  replacesArtifacts: false
                  draft: true
                  prerelease: false
                  artifacts: "artifacts/*/*.zip"
                  artifactContentType: application/zip
                  token: ${{ secrets.GITHUB_TOKEN }}
